* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar{
    display: none;
}

.navbar{
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.navbar-brand {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px !important;
    
}
#cart-icon {
    width: 33px;
    height: 25px;
}

body {
    background-color: antiquewhite !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navS {
    background-color: antiquewhite;
    border-radius: 20px;
    color: black;
    width: 90px;
    text-align: center;
    margin: 5px;
}
#navS:hover {
    background-color: lightpink;
    
}
.navbar-toggler {
    background-color: antiquewhite !important;
}
#barbie {
    background-color: lightcoral !important;
    border-radius: 20px;
    width: 30px;
}

.container {
    display: flex;
    align-items: center; 
  }
  
  .container img {
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
}
h1 {
    align-items: center !important;

} 
.text-center {
    display: flex;
    justify-content: center;
    align-items:center;
}